
<section class="section">
    <div class="container">
     
      <p class="section-title"> show less</p>
      <svg class="svg-description" width="25" height="25" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        
        <line x1="0.353553" y1="6.71749" x2="7.42462" y2="13.7886" stroke="black"/>
        <line x1="6.71749" y1="13.7886" x2="13.7886" y2="6.7175" stroke="black"/>
        </svg>
      <h2 class="section-title">
      description
      </h2>
     <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </div>
    
  
  </section>